@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
  @apply light;
}

.dark {
  --color-bg-primary: #0f172a;
  --color-bg-content: #334155;
  --color-bg-secondary: #1e293b;
  --color-text-primary: #94a3b8;
  --color-text-secondary: #93a4b8;
  --color-text-accent: #08aecf;
}

.light {
  --color-bg-primary: #e0e6e6;
  --color-bg-content: #f5fafa;
  --color-bg-secondary: #17e9e1;
  --color-text-primary: #171718;
  --color-text-secondary: #3333af;
  --color-text-accent: #1d4ed8;
}

  .gradient-border-2 {
    border: 2px solid transparent;
  } 

  .border-gradient-br-gradient-gray-900 {
      background: linear-gradient(90deg,#18181b,#18181b),linear-gradient(to bottom right,#00dc82,#36e4da,#16a79e);
      background-clip: padding-box,border-box;
      background-origin: padding-box,border-box;
  }

  .border-gradient-br-gradient-black {
    background: linear-gradient(90deg,#0c0c0d,#0c0c0d),linear-gradient(to bottom right,#00dc82,#36e4da,#16a79e);
    background-clip: padding-box,border-box;
    background-origin: padding-box,border-box;
  }

  .glass {
    @apply p-3 md:p-6 rounded-lg border-gray-900;
  }

  .btn-home {
    @apply shadow-lg
    bg-secondary
    text-primary
    w-full
    mx-8
    h-20
    text-lg
    flex flex-col
    justify-center
    items-center
    mb-4
    rounded-lg
    hover:opacity-50;
  }
  .primaryBtn {
    @apply font-medium focus:outline-none disabled:cursor-not-allowed disabled:opacity-75 focus:ring-offset-white dark:focus:ring-offset-black text-sm px-4 py-2 relative text-white gradient-border-2 border-gradient-br-gradient-gray-900 hover:border-gradient-br-gradient-black before:absolute before:transition before:duration-200 before:rounded-lg before:opacity-0 hover:before:opacity-75 before:-inset-0.5 before:bg-gradient-to-r before:from-green-400 before:via-teal-400 before:to-teal-600 before:blur-md before:z-[-1] inline-flex items-center rounded-lg focus-visible:ring-2
  }
}
